.add{
    background-color: rgb(35, 30, 30); /* Green */
    border: none;
    color: white;
    padding: 300px 250px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}